/*
 * Copyright (C) 2018 Critical Link, LLC
 *
 * Author: Daniel Vincelette <dvincelette@criticallink.com>
 *
 * Based on socfpga_arria10_socdk.dtsi
 * Copyright (C) 2015 Altera Corporation <www.altera.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 */
/dts-v1/;
#include "mitysom_a10s.dtsi"

/ {
	aliases {
		ethernet0 = &gmac1;
	};
};

&i2c1 {
	status = "okay";

	/* On-board Voltage Monitor */
/* TODO: Add support
	ad7996@29 {
		compatible = "ad7995";
		reg = <0x29>;
	};
*/

	/* On-board Power Monitor Voltage Monitor 5V */
	ltc@6e {
		compatible = "ltc2945";
		reg = <0x6e>;
	};

	/* On-board Power Monitor Voltage Monitor 12V */
	ltc@6f {
		compatible = "ltc2945";
		reg = <0x6f>;
	};
};

&gmac1 {
	phy-mode = "rgmii";
	phy-addr = <0xffffffff>; /* probe for phy addr */

	/*
	 * These skews assume the user's FPGA design is adding 600ps of delay
	 * for TX_CLK on Arria 10.
	 *
	 * All skews are offset since hardware skew values for the ksz9031
	 * range from a negative skew to a positive skew.
	 * See the micrel-ksz90x1.txt Documentation file for details.
	 */
	txd0-skew-ps = <0>; /* -420ps */
	txd1-skew-ps = <0>; /* -420ps */
	txd2-skew-ps = <0>; /* -420ps */
	txd3-skew-ps = <0>; /* -420ps */
	rxd0-skew-ps = <420>; /* 0ps */
	rxd1-skew-ps = <420>; /* 0ps */
	rxd2-skew-ps = <420>; /* 0ps */
	rxd3-skew-ps = <420>; /* 0ps */
	txen-skew-ps = <0>; /* -420ps */
	txc-skew-ps = <1860>; /* 960ps */
	rxdv-skew-ps = <420>; /* 0ps */
	rxc-skew-ps = <1680>; /* 780ps */
	max-frame-size = <3800>;
	snps,reset-gpio = <&porta 1 GPIO_ACTIVE_LOW>; 			
	snps,reset-delays-us = <0 10000 1000000>;
	snps,reset-active-low;
	status = "okay";
};

